[submodule "Assets/_MODULES/LuringPlayer_M"]
	path = Assets/_MODULES/LuringPlayer_M
	url = https://github.com/SanyaLorik/LuringPlayer_M.git
[submodule "Assets/_MODULES/Architecture_M"]
	path = Assets/_MODULES/Architecture_M
	url = https://github.com/SanyaLorik/Architecture_M.git
